#ScpNavImg{
    width: 5.5rem
}

#ScpGithubFooter{
    margin-top: -0.8rem;
    margin-bottom: 3px
}

#ScpPostDropdown {
  height: 350px;
  overflow-y: scroll;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.ScpNavButton{
    width: 5rem !important;
    background-color: black !important;
    border-color: black !important
}

.ScpNavButton:hover{
    background-color: rgb(49, 49, 49) !important;
    border-color: rgb(49, 49, 49) !important
}
