body{
  padding: 0px !important;
  margin: 0px !important
}

a{
  text-decoration: none !important;
}

#ScpNavImg{
    width: 5.5rem
}

#ScpPostDropdown {
  height: 350px;
  overflow-y: scroll;
}

#ScpPageSideBar{
  margin-left: 7.5px !important;
}

#ScpMarginMe{
  margin-bottom: 15px !important;
}

#ScpUnmarginMe{
  margin-bottom: -10px !important;
}

#ScpNavForm{
  width:8rem;
  margin-right: -4rem !important;
}

#ScpNavButton{
  width:8rem;
  margin-right: -4rem !important;
  color: white;
  background-color: black !important;
  border-color: black !important
}

#ScpNavNav{
  margin-right: -5vw;
}

#NewScpPage{
  margin-left: 15px !important
}

#ScpFButton{
  width: 7rem;
  border-radius: 5px !important;
  background-color: black !important;
  border-color: black !important
}
#ScpLButton{
  width: 4.4rem;
  border-radius: 5px !important;
  background-color: black !important;
  border-color: black !important
}

footer {
  width: 99% !important;
  text-align: center;
}

.ScpGreyAnchor{
  color: grey !important;
}

.ScpNavButton{
  width: 6rem !important;
  background-color: black !important;
  border-color: black !important
}

.ScpEditPageSubmitButton{
  width: 100% !important;
  background-color: black !important;
  border-color: black !important
}

.ScpNavButton:hover{
  background-color: rgb(49, 49, 49) !important;
  border-color: rgb(49, 49, 49) !important
}

.NewScpsH2{
  margin-top: 5px
}

.ScpAnchors{
  font-weight: 600 !important;
  font-size: 15px !important
}

.ScpObjects{
  font-weight: 400 !important;
}

.ScpRuleList{
  list-style: none;
  overflow: hidden
}

.ScpNavTitle{
  margin-left: 10px !important
}

.ScpLogUp{
  border-radius: 5px !important;
  background-color: black !important;
  border-color: black !important
}

.EDButton{
  width: 100%;
  border-radius: 5px !important;
  background-color: black !important;
  border-color: black !important
}

.UPImg{
  min-width: 60%;
  max-width: 15vw;
}

.SCPSearchComponent{
  margin-bottom: 5px !important;
  color: black !important;
}

.SCPSearchComponent:hover{
  background-color: rgb(230, 230, 230) !important;
}

